.mce-notification-inner {
    display:none!important;
}

.tox-notifications-container {
    display:none!important;
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

.RichTextEdit {
    .Puretext {
        img {
            max-width: 100% !important;
            height: auto;
        }
    }
}
