@import "../../../variables";

.TagsEdit {
  .Tag {
    background-color: #FFFFFF;
    color: #FFFFFF;
    padding: 0 5px;
    margin: 5px 5px;
    border: 1px solid black;
    width: auto;
  }
}
