
@import '~bootstrap/scss/bootstrap.scss';

$dark1: #4a5261;
$dark2: #3e4552;
$dark3: #252830;
$dark4: #16191d;

$color1: #06283B;
$color2: #7C9F24;
$color3: #6598C7;
$color4: #D2CED1;
$color5: #326220;
